body{
    background-image: url(./assets/react-js-game-bg.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.all_iteams{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.choice{
    color: rgb(204, 0, 0);
    cursor: pointer;
    width: calc(70% / 8);
    /* background:rgb(255, 255, 255); */
    padding:10px;
    margin:0 10px;
    
}

.street_care{
    width: 50%;
    margin: 20px 27%;
    /* background:black */
}
.btn-Reset{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 50vh;
    left: 100px
}
.Btn_Arrow {
    width: 50px;
}
.btn-Submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 50vh;
    right: 100px;
    }
.good_job{
    position: absolute;
    /* width: 80%; */
    left: 10%;
    /* height: 50%; */
    top:calc(50%-25%)
}